body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/weather-background.png) no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
  color: white;
  border: none;
}

#Decrement {
  background-color: red;
  margin: 10px 10px;
  border-radius: 8px;
  text-align: center;
}

#Increment {
  background-color: blue;
  margin: 5px 10px;
  border-radius: 8px;
  text-align: center;
}

#Reset {
  background-color: rgb(76, 74, 223);
  margin: 5px 10px;
  border-radius: 8px;
  text-align: center;
}

#nav {
  background-color: rgb(247, 247, 247);
  font-weight: 900;
  text-align: left;
}

#countzero {
  background-color: orange;
  color: black;
  font-weight: 700;
  margin: 5px 10px;
  border-radius: 8px;
  padding: 5px 11px;
  text-align: center;
}
#countreg {
  background-color: blue;
  margin: 5px 10px;
  border-radius: 8px;
  padding: 5px 23px;
  text-align: center;
}

#decrement,
#increment {
  background-color: grey;
  margin: 5px 10px;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
}

#inactivedecrement {
  background-color: rgba(226, 224, 224, 0.651);
  margin: 5px 10px;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
}

#navnum {
  background-color: grey;
  margin: 5px 0px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
}
#header {
  text-align: center;
}
#chicklet {
  width: 300px !important;
  height: 50px !important;
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
  background-color: rgb(101, 228, 62);
  padding: 13px 10px 20px 10px;
  margin: 30px 0px 0px 20px;
  color: white;
  float: left;
}
#chicklet:hover {
  width: 300px !important;
  height: 50px !important;
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
  background-color: rgb(14, 124, 23);
  padding: 13px 10px 20px 10px;
  margin: 30px 0px 0px 20px;
  color: white;
  float: left;
}

/* 
Top 
Right
Bottom
Left
*/
